/* Aque empieza el estilo del menu */
.sidenav a {
  position: absolute;
  left: -120px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  position: fixed;
}

.sidenav a:hover {
  left: 0;
}

#contacto {
  top: 20px;
  background-color: rgb(21, 206, 206);
}

#home {
  top: 80px;
  background-color: #e611bf;
}

#donas {
  top: 140px;
  background-color: #118de6;
}

#crepas {
  top: 200px;
  background-color: #ea7807;
}
#form_pedido {
  top: 260px;
  background-color: #07ea12;
}

h2 {
  text-align: center;
  color: #00dded;
}

/* aqui termina el estilo del menu */

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #00dded;
  font-size: 50px;
  padding-right: 80px;
  border: 3px solid greenyellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nosotros {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

p {
  font-family: cursive;
}

.Precio {
  color: #04aa6d;
  text-decoration: underline;
}

.log {
  height: 230px;
  width: 200px;
  border-radius: 20px;
  border: 5px solid greenyellow;
}

body {
  background-image: url("Fondo_home.png");
  background-size: contain;
  background-repeat: repeat;
  border: 1px solid black;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.galeria .imagen {
  text-align: center;
}

.galeria img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}

.imagen {
  width: 200px;
  transition: transform 0.3 ease;
}
.imagen:hover {
  transform: scale(1.1);
}

.log {
  width: 200px;
  transition: transform 0.3 ease;
}

.log:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
}
